/**********
ADVANTAGES
**********/

.advantages {
	margin-top: 30px;
	margin-bottom: 42px;
	padding: 0 20px;
}

.advantages__title {
	align-self: flex-start;
	margin-top: 0;
	margin-bottom: 35px;
	font-size: 36px;
	font-weight: normal;
}

.advantages__features {
	list-style: none;
	margin: 0;
	padding: 0;
}

.advantages__item {
	display: flex;
	align-items: center;
	min-height: 60px;
	margin-top: 0;
	margin-bottom: 20px;
}

.advantages__item-text {
	margin: 0;
	padding: 0 0 0 80px;
	position: relative;	
	color: $light-grey;
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
	line-height: 1.29;
	font-weight: normal;

	&::before {
		content: '';
		height: 60px;
		width: 60px;
		margin-right: 20px;
		position: absolute;
		left: 0;
		top: 50%;
		background-color: $green;
		background-repeat: no-repeat;
		background-position: center;
		transform: translateY(-50%);
	}

	&--leaf {

		&::before {
			background-image: url(../img/advantage-leaf@1x.png);	
		}
	}

	&--powder {

		&::before {
			background-image: url(../img/advantage-powder@1x.png);	
		}
	}

	&--dining {

		&::before {
			background-image: url(../img/advantage-dining@1x.png);
		}
	}

	&--clock {
		margin: 0;

		&::before {
			background-image: url(../img/advantage-clock@1x.png);
		}
	}
}

/*RESPONSIVE*/

@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
	
	
	.advantages__item-text {
		
		&::before {
			background-size: 80%;
		}

		&--leaf {

			&::before {
				background-image: url(../img/advantage-leaf@2x.png);	
			}
		}

		&--powder {

			&::before {
				background-image: url(../img/advantage-powder@2x.png);	
			}
		}

		&--dining {

			&::before {
				background-image: url(../img/advantage-dining@2x.png);
			}
		}

		&--clock {

			&::before {
				background-image: url(../img/advantage-clock@2x.png);
			}
		}
	}

}

@media screen and (min-width: $tablet) {

	.advantages {
		display: block;
		margin: 0;
		padding-top: 0;
		padding-bottom: 55px;
	}

	.advantages__wrapper {
		width: 708px;
		margin: 0 auto;
	}

	.advantages__title {
		margin-top: 41px;
		margin-bottom: 105px;
		font-size: 60px;
	}

	.advantages__features {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		width: 708px;
		box-sizing: border-box;
		margin: 0 auto;
		padding-right: 95px;
	}

	.advantages__item {
		display: block;
		margin-bottom: 0;
		position: relative;

		&::after {
			content: '';
			position: absolute;
			top: -40px;
			z-index: -1;
			color: $bg-grey;
			font-size: 281px;
			line-height: 228px;
		}

		&--useful {
			margin-right: 40px;

			&::after {
				content: '1';
				right: -4px;
			}

		}

		&--easy {	

			margin-bottom: 126px;	

			&::after {
				content: '2';
				right: -20px;
			}

		}

		&--functional {

			&::after {
				content: '3';
				right: -15px;
			}

		}

		&--effective {

			&::after {
				content: '4';
				right: -20px;
			}

		}

	}

	.advantages__item-text {
		max-width: 230px;
		padding: 72px 0 48px 0;
		font-size: 16px;
		line-height: 1.5;
		
		&::before {
			width: 80px;
			height: 80px;
			left: 0;
			top: 0;
			background-size: 60%;
		}

	}

}

@media screen and (min-width: 900px) {
	
	.advantages__item {

		&--useful {
			margin-right: 0;
		}

	}

}

@media screen and (min-width: $desktop) {

	.advantages {
		padding: 0 0 27px 0;
	}

	.advantages__wrapper {
		width: 1220px;
		margin: 0 auto;
	}

	.advantages__features {
		width: 1220px;
		padding-right: 15px;
	}
	
	.advantages__title {
		margin-top: 68px;
		margin-bottom: 104px;
	}

	.advantages__item {
		margin-bottom: 0;
		padding-bottom: 0;
	}

}
