/**********
ADVANTAGES
**********/

.advantages {
	padding: 0 20px;
	margin-top: 30px;
	margin-bottom: 45px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.advantages__title {
	margin-bottom: 38px;
	margin-top: 0;
	align-self: flex-start;
}

.advantages__features {
	list-style: none;
	margin: 0;
	padding: 0;
}

.advantages__item {
	display: flex;
	align-items: center;
	margin-top: 0;
	margin-bottom: 27px;
}

.advantages__item-text {
	position: relative;
	margin: 0;
	max-width: 200px;
	padding: 0 0 0 80px;

	&::before {
		content: '';
		position: absolute;
		left: 0px;
		top: calc(50% - 30px);
		background-color: $green;
		background-position: center;
		background-repeat: no-repeat;
		height: 60px;
		width: 60px;
		margin-right: 20px;
	}

	&--leaf {

		&::before {
			background-image: url(../img/advantage-leaf@1x.png);	
		}
	}

	&--powder {

		&::before {
			background-image: url(../img/advantage-powder@1x.png);	
		}
	}

	&--dining {

		&::before {
			background-image: url(../img/advantage-dining@1x.png);
		}
	}

	&--clock {
		margin: 0;

		&::before {
			background-image: url(../img/advantage-clock@1x.png);
		}
	}
}

/*RESPONSIVE*/

@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
	
	
	.advantages__item-text {
		
		&::before {
			background-size: 80%;
		}

		&--leaf {

			&::before {
				background-image: url(../img/advantage-leaf@2x.png);	
			}
		}

		&--powder {

			&::before {
				background-image: url(../img/advantage-powder@2x.png);	
			}
		}

		&--dining {

			&::before {
				background-image: url(../img/advantage-dining@2x.png);
			}
		}

		&--clock {

			&::before {
				background-image: url(../img/advantage-clock@2x.png);
			}
		}
	}

}

@media screen and (min-width: $tablet) {

	.advantages {
		padding: 0 30px 55px 30px;
		margin: 0;
		display: block;
	}

	.advantages__title {
		margin-top: 51px;
		margin-bottom: 63px;
	}

	.advantages__features {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	.advantages__item {
		display: block;
		position: relative;
		margin-bottom: 0;

		&::after {
			content: '';
			color: $bg-grey;
			line-height: 228px;
			font-size: 281px;
			position: absolute;
			top: 0;
			right: 0;
			z-index: -1;
		}

		&--useful {
			margin-right: 40px;

			&::after {
				content: '1';
			}

		}

		&--easy {	

			margin-bottom: 89px;	

			&::after {
				content: '2';
			}

		}

		&--functional {

			&::after {
				content: '3';
			}

		}

		&--effective {

			&::after {
				content: '4';
			}

		}

	}

	.advantages__item-text {
		max-width: 230px;
		padding: 117px 0 48px 0;
		
		&::before {
			height: 80px;
			width: 80px;
			top: 0;
			left: 0;
		}

	}

}

@media screen and (min-width: 900px) {
	
	.advantages__item {

		&--useful {
			margin-right: 0;
		}

	}

}

@media screen and (min-width: $desktop) {

	.advantages {
		padding: 0 0 27px 0;
	}

	.advantages__wrapper {
		width: 1220px;
		margin: 0 auto;
	}
	
	.advantages__title {
		margin-top: 75px;
		margin-bottom: 63px;
	}

	.advantages__item {
		margin-bottom: 0;
		padding-bottom: 0;
	}

}