/*****
BUTTON BLOCK
*****/

.button {
	display: inline-block;
	vertical-align: middle;
	background-color: $green;
	color: #fff;
	padding: 11px 0;
	margin: 0 auto;
	font: inherit;
	text-transform: uppercase;
	text-align: center;
	font-size: 14px;
	width: 280px;
	border: none;

	&--grey {
		background-color: #f2f2f2;
		color: $light-grey;
	}
	
}

/*RESPONSIVE*/

@media screen and (min-width: $tablet) {
	
	.button {
		font-size: 16px;

		&:active {
			color: rgba(255, 255, 255, 0.3);
		}

		&--grey {

			&:hover,
			&:focus {
				background-color: #ebebeb;
				color: $light-grey;
			}

			&:active {
				background-color: #ebebeb;
				color: rgba(68, 68, 68, 0.3);
			}

		}

		&--green {
		
			&:hover,
			&:focus {
				background-color: #5eaa2f;
			}

		}

	}

}
