/*****
BUTTON BLOCK
*****/

.button {
	display: inline-block;
	vertical-align: middle;
	background-color: $green;
	color: #fff;
	padding: 11px 0;
	margin: 0 auto;
	font: inherit;
	text-transform: uppercase;
	font-weight: normal;
	text-align: center;
	font-size: 14px;
	width: 280px;
	border: none;

	&:hover,
	&:focus {
		background-color: #5eaa2f;
	}

	&:active {
		color: rgba(255, 255, 255, 0.3);
	}

	&--grey {
		background-color: #f2f2f2;
		color: $light-grey;

		&:hover {
			background-color: #f2f2f2;
			color: $light-grey;
		}
	}
}

/*RESPONSIVE*/

@media screen and (min-width: $tablet) {
	
	.button {
		font-size: 16px;
	}

}
