/*______________________

CATALOG PAGE STYLES
______________________*/
	
/**********
CATALOG SECTION	
**********/

.catalog {
	margin: 0;
	padding: 0;
}

.catalog__title {
	margin: 0;
	padding: 25px 20px 36px 20px;
	font-size: 36px;
	font-weight: normal;
}


/*RESPONSIVE*/

@media screen and (min-width: $tablet) {

	.catalog {
		padding: 0 30px;
	}

	.catalog__title {
		margin-top: 56px;
		margin-bottom: 78px;
		padding: 0;
	}

}

@media screen and (min-width: $desktop) {

	.catalog {
		padding: 0 110px;
	}
	
	.catalog__title {
		margin-top: 74px;
		margin-left: 0;
		font-size: 60px;
	}

}
