/*______________________

CATALOG PAGE STYLES
______________________*/
	
/**********
CATALOG SECTION	
**********/

.catalog {
	padding: 0;
	margin: 0;
}

.catalog__title {
	padding: 26px 20px 35px 20px;
	margin: 0;
}

.catalog__goods-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.catalog__item {
	display: flex;
	flex-direction: column;
	border-top: 1px solid #cdcdcd;
	padding: 23px 20px;

	&--find-more {
		padding: 0 20px 25px 20px;
		border-bottom: 1px solid #cdcdcd;
		align-items: center;
	}
}

.catalog__item-info {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

.catalog__item-image {
	margin-top: -20px;
	margin-left: -5px;
}

.catalog__item-title {
	text-transform: uppercase;
	font-size: 16px;
	font-weight: normal;
	max-width: 75px;
	margin-top: 0;
	padding: 0;
	margin-bottom: 14px;

	&--find-more {
		max-width: 320px;
		margin-top: 28px;
		margin-bottom: 10px;
		padding-top: 55px;
		position: relative;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: calc(50% - 15px);
			width: 30px;
			height: 30px;
			background-image: url(../img/icon-plus-mobile.svg);
			fill: #cdcdcd;
		}
	}
}

.catalog__item-text {
	&--find-more {
		margin: 0;
		padding: 0;
		font-size: 12px;
	}
}

.catalog__item-order {
	width: 100%;
	padding-top: 11px;
	padding-bottom: 10px;
	font-size: 16px;

	&--find-more {
		margin-top: 20px;
	}
}

.catalog__item-content {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	margin-bottom: 20px;
}

.catalog__item-indicator-container {
	font-size: 12px;
	margin: 0;
	padding: 0;	
}

.catalog__item-indicator-value-container {
	font-size: 12px;
	padding: 0;
	margin: 0 -10px 0 0;
}

.catalog__item-indicators {
	align-self: flex-end;
	width: calc(100vw - 144px - 60px);
	margin: 0;
	padding: 0;
	list-style: none;
}

.catalog__item-indicator {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}


/*RESPONSIVE*/

@media screen and (min-width: $tablet) {

	.catalog {
		padding: 0 30px;
	}

	.catalog__title {
		padding: 0;
		margin-top: 66px;
		margin-left: 3px;
		margin-bottom: 74px;
	}

	.catalog__goods-list {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	
	.catalog__item {
		border: none;
		padding: 0;
		margin-bottom: 58px;
		width: 324px;
		box-sizing: border-box;
		background-image: linear-gradient(to bottom, #fff, #fff 82px, #f2f2f2 82px, #f2f2f2);
	
		&--find-more {
			background: #f2f2f2;
		}

	}

	.catalog__item-info {
		flex-direction: column;
		align-items: center;
	}

	.catalog__item-title {
		font-size: 20px;
		max-width: 130px;
		text-align: center;
		margin-bottom: 28px;
	}

	.catalog__item-content {
		align-items: center;
		margin: 0;
	}

	.catalog__item-image-container {
		min-height: 208px;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		margin-bottom: 39px;
	}

	.catalog__item-indicators {
		width: 249px;
	}

	.catalog__item-indicator {
		border-bottom: 1px solid #cdcdcd;
		padding-bottom: 6px;
	}

	.catalog__item-indicator-container {
		font-size: 16px;
		margin: 0;
		padding: 0;
	}

	.catalog__item-indicator-value-container {
		font-size: 16px;
		margin: 0;
		padding: 0;
	}

	.catalog__item-image {
		width: 324px;

		&--small {
			height: 172px;
		}
		

		&--big {
			height: 208px;
		}

	}

	.catalog__item-order {
		width: 249px;
		margin: 33px 37px 40px 38px;
	}

}