/***********
CATEGORIES
***********/

.categories {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 22px 20px 0 20px;
}

.categories__features {
	list-style: none;
	margin: 0;
	padding: 0;
}

.categories__item {
	box-sizing: border-box;
	padding: 23px 18px 20px 20px;
	background-color: $bg-grey; 
	margin: 0;

	&--slim {
		margin-bottom: 20px;
	}	
}

.categories__item-title {
	margin-top: 0;
	margin-bottom: 33px;
	padding-top: 12px;
	padding-left: 71px;
	position: relative;
	font-size: 24px;
	font-weight: normal;
	text-transform: uppercase;

	&::before {
		content: '';
		width: 50px;
		height: 50px;
		border-radius: 50%;
		position: absolute;
		left: 2px;
		top: 0;
		background-color: $green;
	}

	&--slim {

		&::after {
			content: '';
			height: 50px;
			width: 35px;
			position: absolute;
			left: 10px;
			top: -2px;
			background-image: url(../img/icon-cat-slim.svg);
			background-repeat: no-repeat;
			background-size: 100%;
		}

	}

	&--pro {

		&::after {
			content: '';
			height: 30px;
			width: 70px;
			position: absolute;
			left: -9px;
			top: 11px;
			background-image: url(../img/icon-cat-pro.svg);
			background-repeat: no-repeat;
			background-size: 100%;
		}

	}
}

.categories__item-text {	
	margin-bottom: 18px;
	padding: 0 0 23px 0;
	border-bottom: 1px solid #d9d9d9;
	position: relative;
	color: $light-grey;
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
	line-height: 1.29;
	font-weight: normal;
}

.categories__item-link {
	padding: 0;
	position: relative;
	text-transform: uppercase;

	&::after {
		content: '';
		width: 24px;
	  	height: 11px;
		position: absolute;
		right: -36px;
		top: 25%;
		background-image: url(../img/icon-right-arrow-long.svg);
		background-repeat: no-repeat;
	  	transition: 0.2s;
	}

	&:hover {
			
		&:after {
			width: 54px;
			right: -73px;
			background-image: url(../img/icon-right-arrow-verylong.svg);
		}

	}

	&:active {
		opacity: 0.3;
	}

}

/*RESPONSIVE*/

@media screen and (min-width: $tablet) {

	.categories {
		padding: 0 30px;
	}

	.categories__item {
		min-width: 708px;
		max-width: 900px;
		margin-bottom: 30px;
		padding: 74px 0 62px 52px;
		position: relative;

		&::before {
			content: '';
			width: 200px;
			height: 200px;
			border-radius: 50%;
			position: absolute;
			right: 60px;
			top: 91px;
			background-color: $green;
		}

		&--slim {

			&::after {
				content: '';
				height: 194px;
				width: 140px;
				position: absolute;
				right: 92px;
				top: 80px;
				background-image: url(../img/icon-cat-slim.svg);
				background-repeat: no-repeat;
				background-size: 100%;
			}

		}

		&--pro {
			margin-bottom: 0;

			&::after {
				content: '';
				width: 268px;
				height: 112px;
				position: absolute;
				right: 28px;
				top: 135px;
				background-image: url(../img/icon-cat-pro.svg);
				background-repeat: no-repeat;
				background-size: 100%;
			}

		}

	}

	.categories__item-title {
		margin-bottom: 20px;
		padding: 0;
		font-size: 36px;

		&::before {
			display: none;
		}

		&::after {
			display: none;
		}

	}

	.categories__item-heading {
		margin-bottom: 21px;
	}

	.categories__item-text {
		max-width: 380px;
		margin-top: 0;
		margin-bottom: 55px;
		padding: 0;
		border: none;
		font-size: 16px;
		line-height: 1.5;

		&--pro {
			max-width: 345px;
		}
	}

	.categories__item-link {
		font-size: 20px;

		&::after {
			right: -49px;
			top: 27%;
		}

		&:hover {
			
			&:after {
				right: -83px;
			}

		}

	}

}

@media screen and (min-width: $desktop) {

	.categories {
		display: block;
		padding: 77px 0 0 0;
	}

	.categories__features {
		display: flex;
		justify-content: space-between;
		width: 1220px;
		margin: 0 auto;
	}

	.categories__item {
		min-width: 570px;
		max-width: 570px;
		min-height: 372px;
		box-sizing: border-box;
		margin-bottom: 0;
		padding: 50px 56px 62px 52px;

		&::before {
			display: none;
		}

		&::after {
			display: none;
		}

	}

	.categories__item-title {
		padding-top: 30px;
		padding-left: 164px;
		line-height: 36px;

		&::before {
			display: block;
			width: 100px;
			height: 100px;
		}

		&::after {
			display: block;
		}

		&--slim {

			&::after {
				width: 70px;
				height: 97px;
				top: -6px;
				left: 14px;
			}
		}

		&--pro {

			&::after {
				width: 134px;
				height: 56px;
				top: 22px;
				left: -18px;
			}
			
		}

	}

	.categories__item-text {
		max-width: 462px;
		margin-top: 72px;
		margin-bottom: 32px;
	}

	.categories__item-link {
		margin: 0;
	}
	
}
