/*______________________

CATALOG PAGE STYLES
______________________*/
	
/**********
CATALOG SECTION	
**********/

.catalog {
	padding: 0;
	margin: 0;
}

.catalog__title {
	padding: 26px 20px 35px 20px;
	margin: 0;
}

.catalog__goods-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

/*RESPONSIVE*/

@media screen and (min-width: $tablet) {

	.catalog {
		padding: 0 30px;
	}

	.catalog__title {
		padding: 0;
		margin-top: 66px;
		margin-left: 3px;
		margin-bottom: 74px;
	}

	.catalog__goods-list {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: wrap;
	}

}

@media screen and (min-width: $desktop) {

	.catalog {
		padding: 0 110px;
	}
	
	.catalog__title {
		margin-left: 0;
	}

	.catalog__goods-list {
		width: 1220px;
		margin: 0 auto;
	}

}