/*********
COMMENT
*********/

.comment {
	margin: 30px 0 0 0;
	padding: 41px 20px 0 20px;
	border: none;
	border-top: 3px solid $green;
	position: relative;
}

.comment__title {
	display: inline-block;
	vertical-align: baseline;
	margin: 0;
	padding: 0 20px;
	position: absolute;
	left: 0;
	top: -16px;
	background-color: #fff;
	font-size: 24px;
	font-weight: normal;
	line-height: 1;
}

.comment__field {
	width: 100%;
	height: 150px;
	box-sizing: border-box;
	padding: 13px 10px 11px 15px;
	border: 1px solid rgba(205,205,205,.5);
	color: $light-grey;
	font-size: 16px;
	text-transform: uppercase;
	resize: none;

	&:hover {
		border-color: #cdcdcd;
	}

	&:focus {
		border-color: #212735;
    	box-shadow: inset 0 0 0 1px #212735;
    	outline: 0;
	}

}

/*RESPONSIVE*/

@media screen and (min-width: $tablet) {

	.comment {
		margin: 67px 0 0 0;
		padding: 87px 0 0 0;
	}

	.comment__title {
		padding: 0 38px;
		left: 50%;
		top: -23px;
		font-size: 36px;
		transform: translateX(-352px);
		white-space: nowrap;
	}

	.comment__field {
		display: block;
		width: 630px;
		height: 174px;
		margin: 0 auto;
		padding: 14px 15px 13px 20px;
		font-size: 20px;
	}

}

@media screen and (min-width: $desktop) {

	.comment {
		margin: 69px 0 0 0;
	}

	.comment__title {
		transform: translateX(-648px);
	}

	.comment__field {
		width: 1220px;
	}

}
