/********
CONTACTS
********/

.footer__map-container {
	padding: 30px 0 0 0;
}

.map__info {
	padding: 0 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 30px;
}

.map__offer {
	font-size: 16px;
	font-weight: normal;
	text-transform: uppercase;
}


.map__map {
	width: 100%;
	border: none;
}