/********
CONTACTS
********/

.contacts {
	padding: 0;
	background-color: #fff;

	&--inner {
		background-color: $bg-grey;
	}

}

.contacts__info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 450px;
	margin: 0 auto;
	padding-top: 30px;
	padding-right: 20px;
	padding-bottom: 26px;
	padding-left: 20px;
}

.contacts__offer {
	max-width: 123px;
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-weight: normal;
	text-transform: uppercase;
	line-height: 1.25;
}

.contacts__adress {
	max-width: 50%;
	margin: 0;
	padding: 0;
	color: $light-grey;
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
	line-height: 1.43;
	font-weight: normal;
}


.contacts__map {
	width: 100%;
	height: 360px;
	border: none;
	background-image: url(../img/bg-map-mobile@1x.png);
	background-repeat: no-repeat;
	background-size: cover;
}

/*RESPONSIVE*/

@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {

	.contacts__map {
		background-image: url(../img/bg-map-mobile@2x.png);
	}

}

@media screen and (min-width: $tablet) {

	.contacts__offer {
		max-width: 155px;
		font-size: 20px;
	}

	.contacts__info {
		max-width: 630px;
		padding: 63px 0 59px 0;
	}

	.contacts__adress {
		max-width: 155px;
		font-size: 16px;
		text-align: right;
		line-height: 1.25;
	}

	.contacts__city {
		display: block;
		margin-top: 18px;
	}

	.contacts__map {
		height: 400px;
		background-image: url(../img/bg-map-tablet@1x.png);
	}

	@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {

		.contacts__map {
			background-image: url(../img/bg-map-tablet@2x.png);
		}

	}
	
}

@media screen and (min-width: $desktop) {

	.contacts {
		position: relative;
	}
	
	.contacts__info {
		width: 570px;
		height: 201px;
		box-sizing: border-box;
		padding: 66px 90px 59px 76px;
		position: absolute;
		left: 50%;
		top: 95px;
		background-color: #fff;
		transform: translateX(-610px);
	}

	.contacts__adress {
		text-align: left;
	}

	.contacts__map {
		background-image: url(../img/bg-map-desktop@1x.png);
	}

	@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {

		.contacts__map {
			background-image: url(../img/bg-map-desktop@2x.png);
		}

	}

}
