/********
CONTACTS
********/

.footer__map-container {
	padding: 31px 0 0 0;
}

.map__info {
	padding: 0 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 26px;
}

.map__offer {
	font-size: 16px;
	font-weight: normal;
	line-height: 1.25;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
}

.map__adress {
	max-width: 50%;
	line-height: 1.43;
	margin: 0;
	padding: 0;
}


.map__map {
	height: 360px;
	width: 100%;
	border: none;
}