/**********	
EXAMPLE
**********/

.example {
	background-color: $bg-grey;
	padding-top: 28px;
	padding-bottom: 35px;
}

.example__title {
	padding: 0;
	margin-top: 0;
	margin-left: 20px;
}

.example__text {
	margin: 31px 27px 27px 20px;
	padding: 0;
	line-height: 1.29;
}

.example__indicators {
	display: flex;
	justify-content: space-between;
	margin: 0 20px 15px 20px;
}

.example__indicator {
	width: 126px;
    text-align: center;
    border-radius: 3px;
    padding: 0;
}

.example__indicator-info {
	position: relative;
	margin: 0;
	padding: 12px 10px;
	font-size: 24px;
	text-transform: uppercase;
	color: $dark-grey;
	border: 1px solid #cdcdcd;
	border-radius: 3px;
}

.example__indicator-name {
	display: inline-block;
    vertical-align: top;
    margin: 0 17px;
    padding: 0 17px;
    font-size: 12px;
    color: $light-grey;
    background-color: $bg-grey;
    font-family: Arial, sans-serif;
    transform: translateY(-8px);
    line-height: 1;
}

.example__expences {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: normal;
	text-align: center;
	margin-top: 0;
	padding: 0;
	margin-bottom: 37px;
}

.example__cat-list {
	display: flex;
	justify-content: center;
	list-style: none;
	margin: 0;
	padding: 0;
}

.example__cat {
	margin: 0 0 25px 0;
	padding: 0;

	&--hidden {
		display: none;
	}

	&--after {
		display: none;
	}
}

.example__changes {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
	margin: 0;
}

.example__button {
	background: none;
	border: none;
	font-size: 16px;
	text-transform: uppercase;

	&--before {
		margin-right: 10px;
	}
}

.example__slider {
	margin-right: 13px;
}

.example__slider-container {
	background-color: #fff;
	height: 13px;
	width: 83px;
	border-radius: 6px;
	border: 1px solid #cdcdcd;
	position: relative;
}

.example__slider-thumb {
	background-color: $green;
	border: none;
	width: calc(50% - 6px);
	height: 50%;
	border-radius: 3px;
	position: absolute;
	left: 6px;
	top: 3px;
}

/*RESPONSIVE*/

@media screen and (min-width: $tablet) {

	.example {
		background-color: #fff;
		padding: 41px 0 0 0;
		border-top: 1px solid $bg-grey;
		overflow: hidden;
	}

	.example__wrapper {
		width: 708px;
		margin: 0 auto;

		&::before {
			
		}

	}

	.example__title {
		margin-top: 0;
		margin-right: 0;
		margin-left: 0;
		margin-bottom: 58px;
	}

	.example__text {
		max-width: 680px;
		margin-top: 0;
		margin-left: 0;
		margin-right: 30px;
		margin-bottom: 56px;
		line-height: 1.5;
	}

	.example__info {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		margin-bottom: 68px;
		margin-left: 0;
	}

	.example__indicators {
		margin-left: 0;
		margin-bottom: 0;
	}

	.example__indicator {
		width: 162px;
		margin-right: 42px;
	}
	
	.example__indicator-info {
		padding-bottom: 19px;
	    font-size: 30px;
	    line-height: 36px;
	}

	.example__indicator-name {
	    margin-left: 7px;
	    margin-right: 7px;
	    padding-left: 10px;
	    padding-right: 10px;
	    font-size: 14px;
	    line-height: 14px;
	    background-color: #fff;
	}

	.example__expences {
		margin-top: 9px;
		margin-bottom: 0;
		font-size: 20px;
		max-width: 175px;
		text-align: right;
	}

	.example__expences-property {
		display: block;
		margin-bottom: 8px;
	}

	.example__changes-container {
		position: relative;
		padding-bottom: 67px;
	
		&::before {
			content: '';
			position: absolute;
			top: 0;
			right: 50%;
			height: 100%;
			width: 100%;
			z-index: 0;
			background-image: linear-gradient(to bottom, #fff, #fff 169px, $bg-grey 169px, $bg-grey);
		}

		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 50%;
			height: 100%;
			width: 100%;
			z-index: 0;
			background-image: linear-gradient(to bottom, #fff, #fff 169px, #eaeaea 169px, #eaeaea);		
		}
	}

	.example__cat-list {
		position: relative;
	}

	.example__cat {
		z-index: 1;
		margin: 0 0 18px 0;

		&--before {
			position: absolute;
			z-index: 2;
			clip: rect(auto, 344px, auto, auto);
			background-image: linear-gradient(to bottom, #fff, #fff 169px, $bg-grey 169px,  $bg-grey);
		}

		&--after {
			display: block;
		}

	}

	.example__cat-image {
		width: 690px;
		height: 517px;
	}

	.example__changes {
		margin: 0;
	}

	.example__slider {
		margin-right: 21px;
		z-index: 1;
	}

	.example__slider-container {
		width: 428px;
		height: 6px;
		background-color: #dcdcdc;
		border: none;
	}

	.example__slider-thumb {
		width: 34px;
		height: 34px;
		border-radius: 50%;
		background-color: #fff;
		box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.15);
		top: calc(50% - 18px);
		left: calc(50% - 18px);
		cursor: pointer;
		border: 1px solid #cdcdcd;

		&::after {
			content: '';
			width: 8px;
			height: 8px;
			border-radius: 50%;
			position: absolute;
			top: calc(50% - 4px);
			left: calc(50% - 4px);
			background-color: $green;
		}

		&:active {
			box-shadow: 0px 4px 5px 0 rgba(0, 0, 0, 0.3);
  			border: 2px solid $green;
		}

		&:hover {
			box-shadow: 0px 3px 5px 0 rgba(0, 0, 0, 0.25);
		}

	}

	.example__button {
		z-index: 1;
		font-size: 20px;
		padding: 0 0 4px 0;
		border-bottom: 1px dotted rgba(0,0,0,.23);
		cursor: pointer;

		&--before {
			margin-right: 24px;
		}
		
		&:hover {
			border-bottom: 1px solid rgba(0,0,0,.23);
		}

		&:active {
			border-bottom: 1px solid rgba(0,0,0,0);
		}

	}

}

@media screen and (min-width: $desktop) {

	.example {
		border: none;
		padding-top: 0;
	}

	.example__wrapper {
		display: flex;
		justify-content: space-between;
		width: 1440px;
	}

	.example__content {
		z-index: 5;
	}

	.example__title {
		margin-top: 48px;
		margin-bottom: 140px;
		margin-left: 110px;
	}

	.example__text {
		max-width: 435px;
		margin-left: 110px;
		margin-bottom: 70px;
	}

	.example__info {
		margin-left: 110px;
		margin-bottom: 0px;
		flex-direction: column;
		align-items: flex-start;
	}

	.example__expences {
		max-width: 350px;
		width: 350px;
		text-align: left;
	}

	.example__expences-property {
		display: inline-block;
		margin-right: 60px;
	}

	.example__indicators {
		padding: 0;
		margin: 0 0 34px 0;
	}

	.example__indicator {

		&--days {
			margin-right: 0;
		}

	}

	.example__indicator-name {
		background-color: $bg-grey;
	}

	.example__changes-container {
		padding-right: 70px;
		padding-bottom: 66px;
		background-image: linear-gradient(to bottom, #fff, #fff 190px, #eaeaea 190px, #eaeaea);

		&::before {
			width: 100vw;
			left: calc(-100vw + 365px);
			background-image: linear-gradient(to bottom, #fff, #fff 190px, $bg-grey 190px,  $bg-grey);
		}

		&::after {
			background-image: linear-gradient(to bottom, #fff, #fff 190px, #eaeaea 190px,  #eaeaea);
		}

	}

	.example__cat {

		&--before {
			clip: rect(auto, 365px, auto, auto);
			background-image: linear-gradient(to bottom, #fff, #fff 190px, $bg-grey 190px,  $bg-grey);
		}

	}

	.example__changes {
		margin-top: 17px;
		margin-left: 40px;
	}
	
}