/********
EXTRA ORDER
********/

.extra-order {
	margin: 36px 0 0 0;
	padding: 38px 20px 0 20px;
	border: none;
	border-top: 3px solid $green;
	position: relative;
}

.extra-order__title {
	display: inline-block;
	vertical-align: baseline;
	margin: 0;
	padding: 0 20px;
	position: absolute;
	left: 0;
	top: -16px;
	background-color: #fff;
	font-size: 24px;
	font-weight: normal;
	line-height: 1;
}

.extra-order__list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.extra-order__item {
	margin: 0 0 13px 0;
}

.extra-order__explanation {
	display: block;
	margin: 0 14px 0 0;
	padding: 11px 0 0 45px;
	position: relative;
	color: #222222;
	font-size: 16px;
	font-weight: normal;
	text-transform: uppercase;
	cursor: pointer;

	&::before {
		content: '';
	    display: block;
	    width: 30px;
	    height: 30px;
	    box-sizing: border-box;
	    border: 1px solid #cdcdcd;
		position: absolute;
		left: 0;
		top: 5px;
	    cursor: pointer;
    }

    &:hover {

    	&::before {
			border-color: #bababa;
		}

    }

    &:active {
    	opacity: 0.3;
    }

}
