/**********
EXTRA CATALOG
**********/

.extra-catalog__title {
	padding: 0 20px;
	margin: 27px 0 30px 0;
}

.extra-catalog__goods-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.extra-catalog__gift {
	margin: 40px 20px 35px 20px;
	padding-top: 50px;
	padding-bottom: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: $green;
	background-image: url(../img/gift-photo-mobile@1x.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.extra-catalog__gift-text {
	font-size: 16px;
	color: #fff;
	text-align: center;
	font-family: Arial, sans-serif;
	max-width: 170px;
	padding-top: 120px;
	position: relative;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: calc(50% - 27.5px);
		height: 60px;
		width: 55px;
		background-repeat: no-repeat;
		background-image: url(../img/icon-gift.svg);
	}
}

/*RESPONSIVE*/

@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {

	.extra-catalog__gift {
		background-image: url(../img/gift-photo-mobile@2x.jpg);
	}
}

@media (min-resolution: 144dpi), (min-resolution: 1.5dppx), (min-width: $tablet) {

	.extra-catalog__gift {
		background-image: url(../img/gift-photo-tablet@2x.jpg);
	}
}

@media screen and (min-width: $tablet) {
	
	.extra-catalog__title {
		margin-left: 30px;
		padding: 0 37px;
	}

	.extra-catalog__goods-list {
		border: 1px solid #cdcdcd;
		margin: 0 30px;
	}

	.extra-catalog__gift {
		margin: 69px 30px 76px 30px;
		padding-top: 75px;
		padding-bottom: 69px;
		background-image: url(../img/gift-photo-tablet@1x.jpg);
		background-size: cover;
	}

	.extra-catalog__gift-text {
		padding-top: 0;
		margin: 0;
		padding-left: 333px;
		text-align: left;
		line-height: 1.25;

		&::before {
			left: 0;
		}

	}

}

@media (min-resolution: 144dpi), (min-resolution: 1.5dppx), (min-width: $desktop) {

	.extra-catalog__gift {
		background-image: url(../img/gift-photo-desktop@2x.jpg);
	}
}

@media screen and (min-width: $desktop) {

	.extra-catalog {
		padding-bottom: 86px;
	}

	.extra-catalog__title {
		margin-left: 80px;
		margin-bottom: 75px;

		&::after {
			left: -80px;
		}

	}

	.extra-catalog__goods-container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 0 110px;
	}

	.extra-catalog__goods-list {
		margin: 0;
		width: 825px;
		border-left: none;
		border-right: none;
		padding: 0;
	}

	.extra-catalog__gift {
		padding-top: 65px;
		padding-bottom: 43px;
		margin: 0;
		width: 245px;
		height: 289px;
		box-sizing: border-box;
		background-image: url(../img/gift-photo-desktop@1x.jpg);
	}

	.extra-catalog__gift-text {
		padding-top: 125px;
		padding-left: 0px;
		text-align: center;

		&::before {
			left: calc(50% - 27.5px);
		}

	}

	
}