/*********
EXTRA GOODS
*********/

.extra-goods {
	list-style: none;
	margin: 0;
	padding: 0;
}

.extra-goods__product {
	display: flex;	
	flex-direction: column;
	align-items: stretch;
	margin: 0 20px;
	padding-top: 14px;
	padding-bottom: 17px;
	border-top: 1px solid #cdcdcd;

	&--vitamins {
		border-bottom: 1px solid #cdcdcd;
	}
}

.extra-goods__product-title {
	text-transform: uppercase;
	font-size: 16px;
	line-height: 1;
	font-weight: normal;
	margin-bottom: 8px;
	margin-top: 0;
	padding: 0;
}

.extra-goods__product-info {
	margin: 0 0 10px 0;
	padding: 0;
	width: 100%;
}

.extra-goods__product-text {

	&--right {
		text-align: right;
	}

}

.extra-goods__product-order {
	font-size: 16px;
	margin: 0;
	padding: 11px 0 10px 0;
	width: 100%;
}

/*RESPONSIVE*/

@media screen and (min-width: $tablet) {

	.extra-goods {
		border: 1px solid #cdcdcd;
		margin: 0 30px;
	}

	.extra-goods__product {
		margin: 0;
		padding: 24px 37px 27px 38px;

		&--sugar-substitute {
			border: none;
		}

		&--vitamins {
			border-bottom: none;
		}

	}

	.extra-goods__product-title {
		font-size: 20px;
		margin-bottom: 0;
	}

	.extra-goods__product-info {
		max-width: 270px;
		margin-bottom: 0;
	}

	.extra-goods__product-price-container {
		padding: 0;
	}

	.extra-goods__product-text {
		text-align: right;
		width: 173px;
		padding-right: 44px;
		padding-top: 4px;
		line-height: 1.25;

		&--right {
			width: 45px;
			padding-right: 0;
		}

	}

	.extra-goods__product-content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 19px;
	}

}

@media screen and (min-width: $desktop) {

	.extra-goods {
		margin: 0;
		width: 895px;
		border-left: none;
		border-right: none;
		padding: 0;
	}

	.extra-goods__product {
		padding: 17px 0 14px 0;
		flex-direction: row;
		justify-content: space-between;
	}

	.extra-goods__product-content {
		margin-bottom: 0;
		width: 100%;
	}
	
	.extra-goods__product-order {
		width: 337px;
		height: 40px;
		box-sizing: border-box;
	}

	.extra-goods__product-info {
		max-width: 285px;
		margin-right: 40px;
	}

	.extra-goods__product-text {
		text-align: left;

		&--right {
			text-align: right;
		}

	}

	.extra-goods__product-price-container {
		width: 100%;
		justify-content: space-between;
	}
		
}