/**********
EXTRA CATALOG
**********/

.extra-catalog__title {
	margin: 26px 0 31px 0;
	padding: 0 20px;
}

.extra-catalog__gift {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 42px 20px 33px 20px;
	padding-top: 50px;
	padding-bottom: 26px;
	background-color: $green;
	background-image: url(../img/gift-photo-mobile@1x.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
}

.extra-catalog__gift-text {
	max-width: 150px;
	padding-top: 120px;
	position: relative;
	color: #fff;
	font-family: Arial, sans-serif;
	font-size: 16px;
	text-align: center;

	&::before {
		content: '';
		height: 60px;
		width: 55px;
		position: absolute;
		left: calc(50% - 27.5px);
		top: 0;
		background-image: url(../img/icon-gift.svg);
		background-repeat: no-repeat;
	}

}

/*RESPONSIVE*/

@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {

	.extra-catalog__gift {
		background-image: url(../img/gift-photo-mobile@2x.jpg);
	}
}

@media screen and (min-width: $tablet) {
	
	.extra-catalog__title {
		margin-top: 5px;
		margin-bottom: 75px;
		margin-left: 30px;
		padding: 0 37px;

		&::after {
			top: 22px;
		}

	}

	.extra-catalog__gift {
		align-items: flex-start;
		margin: 71px 30px 77px 30px;
		padding-top: 72px;
		padding-bottom: 67px;
		padding-left: 91px;
		background-image: url(../img/gift-photo-tablet@1x.jpg);
		background-size: cover;
	}

	.extra-catalog__gift-text {
		margin: 0;
		padding-top: 0;
		padding-left: 333px;
		text-align: left;
		line-height: 1.25;

		&::before {
			top: -8px;
			left: 0;
		}

	}

	@media (min-resolution: 144dpi),  (min-resolution: 1.5dppx) {

		.extra-catalog__gift {
			background-image: url(../img/gift-photo-tablet@2x.jpg);
		}

	}

}

@media screen and (min-width: $desktop) {

	.extra-catalog {
		padding-bottom: 86px;
	}

	.extra-catalog__title {
		margin-top: 10px;
		margin-bottom: 77px;
		margin-left: 72px;

		&::after {
			left: -80px;
			top: 25px;
		}

	}

	.extra-catalog__goods-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 1220px;
		margin: 0 auto;
		padding: 0;
	}

	.extra-catalog__gift {
		width: 245px;
		height: 289px;
		box-sizing: border-box;
		margin: 0;
		padding-top: 65px;
		padding-bottom: 43px;
		padding-left: 54px;
		background-image: url(../img/gift-photo-desktop@1x.jpg);
	}

	.extra-catalog__gift-text {
		padding-top: 125px;
		padding-left: 0px;
		text-align: center;

		&::before {
			left: 40px;
			top: 1px;
		}

	}

	@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {

		.extra-catalog__gift {
			background-image: url(../img/gift-photo-desktop@2x.jpg);
		}
		
	}

}
