/********
EXTRA ORDER
********/

.extra-order {
	margin: 39px 0 0 0;
	padding: 36px 20px 0 20px;
	border: none;
	border-top: 3px solid $green;
	position: relative;
}

.extra-order__title {
	display: inline-block;
	vertical-align: baseline;
	margin: 0;
	padding: 0 20px;
	position: absolute;
	left: 0;
	top: -16px;
	background-color: #fff;
	font-size: 24px;
	font-weight: normal;
	line-height: 1;
}

.extra-order__list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.extra-order__item {
	margin: 0 0 13px 0;
}

.extra-order__explanation {
	display: block;
	margin: 0 14px 0 0;
	padding: 11px 0 0 45px;
	position: relative;
	color: #222222;
	font-size: 16px;
	font-weight: normal;
	text-transform: uppercase;
	cursor: pointer;

	&::before {
		content: '';
	    display: block;
	    width: 30px;
	    height: 30px;
	    box-sizing: border-box;
	    border: 1px solid #cdcdcd;
		position: absolute;
		left: 0;
		top: 5px;
	    cursor: pointer;
    }

    &:hover {

    	&::before {
			border-color: #bababa;
		}

    }

    &:active {
    	opacity: 0.3;
    }

}

.extra-order__checkbox:checked + .extra-order__explanation::before {
	content: '';
	background-image: url(../img/icon-tick.svg);
	background-size: 80%;
	background-position: center;
	background-repeat: no-repeat;
}

/*RESPONSIVE*/

@media screen and (min-width: $tablet) {

	.extra-order {
		margin-top: 88px;
		padding: 63px 0 0 0;
	}

	.extra-order__title {
		padding: 0 37px;
		left: 50%;
		top: -23px;
		font-size: 36px;
		transform: translateX(-354px);
	}

	.extra-order__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		width: 630px;
		box-sizing: border-box;
		margin: 0 auto;
		padding: 0 67px 0 0;
	}

	.extra-order__item {
		width: 220px;
		margin-bottom: 35px;
	}

	.extra-order__explanation {
		padding: 14px 0 0 60px;
		font-size: 20px;

		&::before {
			width: 40px;
			height: 40px;
		}

	}

	.extra-order__checkbox:checked + .extra-order__explanation::before {
		background-size: 50%;
	}

}

@media screen and (min-width: $desktop) {

	.extra-order__title {
		transform: translateX(-648px);
	}

	.extra-order__list {
		justify-content: flex-start;
		flex-wrap: nowrap;
		width: 1300px;
		padding: 0;
	}

	.extra-order__item {
		width: 245px;
		margin: 0 40px;
	}

	.extra-order__explanation {
		padding: 15px 0 0 58px;
	}

}
