/**********
EXTRA CATALOG
**********/

.extra-catalog {
	margin-top: 39px;
	padding-top: 41px;
	border-top: 3px solid $green;
	position: relative;
}

.extra-catalog__title {
	display: inline-block;
	vertical-align: baseline;
	margin: 0;
	padding: 0 20px;
	position: absolute;
	left: 0;
	top: -16px;
	background-color: #fff;
	font-size: 24px;
	font-weight: normal;
}

.extra-catalog__gift {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 450px;
	margin: 42px 20px 33px 20px;
	padding-top: 50px;
	padding-bottom: 26px;
	background-color: $green;
	background-image: url(../img/gift-photo-mobile@1x.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}

.extra-catalog__gift-text {
	max-width: 150px;
	padding-top: 120px;
	position: relative;
	color: #fff;
	font-family: Arial, sans-serif;
	font-size: 16px;
	line-height: 1.29;
	font-weight: normal;
	text-align: center;

	&::before {
		content: '';
		height: 60px;
		width: 55px;
		position: absolute;
		left: 50%;
		top: 0;
		background-image: url(../img/icon-gift.svg);
		background-repeat: no-repeat;
		transform: translateX(-50%);
	}

}

/*RESPONSIVE*/

@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {

	.extra-catalog__gift {
		background-image: url(../img/gift-photo-mobile@2x.jpg);
	}
}

@media screen and (min-width: 490px) {

	.extra-catalog__gift {
		margin-left: auto;
		margin-right: auto;
	}

}

@media screen and (min-width: $tablet) {

	.extra-catalog {
		margin-top: 30px;
		padding-top: 91px;
	}

	.extra-catalog__goods-container {
		width: 708px;
		margin: 0 auto;
	}
	
	.extra-catalog__title {
		padding: 0 37px;
		left: 50%;
		top: -26px;
		font-size: 36px;
		transform: translateX(-354px);
	}

	.extra-catalog__gift {
		align-items: flex-start;
		max-width: 100%;
		margin: 68px 0 78px 0;
		padding-top: 72px;
		padding-bottom: 67px;
		padding-left: 118px;
		background-image: url(../img/gift-photo-tablet@1x.jpg);
		background-size: cover;
	}

	.extra-catalog__gift-text {
		margin: 0;
		padding-top: 0;
		padding-left: 305px;
		text-align: left;
		line-height: 1.25;

		&::before {
			top: -8px;
			left: 0;
		}

	}

	@media (min-resolution: 144dpi),  (min-resolution: 1.5dppx) {

		.extra-catalog__gift {
			background-image: url(../img/gift-photo-tablet@2x.jpg);
		}

	}

}

@media screen and (min-width: $desktop) {

	.extra-catalog {
		margin-top: 37px;
		padding-bottom: 84px;
	}

	.extra-catalog__title {
		transform: translateX(-648px);
	}

	.extra-catalog__goods-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 1220px;
		margin: 0 auto;
		padding: 0;
	}

	.extra-catalog__gift {
		width: 245px;
		height: 289px;
		box-sizing: border-box;
		margin: 0;
		padding-top: 63px;
		padding-bottom: 43px;
		padding-left: 50px;
		background-image: url(../img/gift-photo-desktop@1x.jpg);
	}

	.extra-catalog__gift-text {
		padding-top: 123px;
		padding-left: 0px;
		text-align: center;

		&::before {
			left: 50%;
			top: 1px;
			transform: translateX(-50%);
		}

	}

	@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {

		.extra-catalog__gift {
			background-image: url(../img/gift-photo-desktop@2x.jpg);
		}
		
	}

}
