/********	
FOOTER	
********/

.footer__content {
	padding: 37px 20px 20px 20px;
	background-color: $bg-grey;
}

.footer__logo-container {
	width: 130px;
	height: 25px;
	margin: 0 auto 28px auto;
}

.footer__logo {

	&:hover {
		opacity: 0.8;
	}

	&:active {
		opacity: 0.6;
	}

}

.footer__social-container {
	width: 100%;
	margin-top: 0;
	margin-bottom: 15px;
    padding-top: 22px;
    padding-bottom: 16px;
    border-top: 1px solid #cdcdcd;
    border-bottom: 1px solid #cdcdcd;
}

.footer__social {
	display: flex;
	justify-content: center;
	align-items: center;
	list-style: none;
	margin: 0;
	padding: 0;
}

.footer__social-item {
	margin-top: 0;
	margin-right: 38px;
	margin-bottom: 0;
	padding: 0;

	&--fb {
		margin-right: 0;
	}

}

.footer__social-icon {
	fill: $light-grey;

	&:hover, &:active {
		fill: $green;
	}

	&:active {
		opacity: 0.3;
	}

}

.footer__htmlacademy {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin: 0;
	padding: 0;
}

.footer__htmlacademy-icon {
	fill: $light-grey;

	&:hover, &:active {
		fill: $green;
	}

	&:active {
		opacity: 0.3;
	}

}

.footer__htmlacademy-link {
	color: $light-grey;
	font-family: Arial, Tahoma, sans-serif;
	font-size: 16px;
	line-height: 1.29;
	font-weight: normal;

	&:active {
		opacity: 0.3;
	}

}

/*RESPONSIVE*/

@media screen and (min-width: $tablet) {

	.footer__content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-top: 44px;
		padding-bottom: 58px;
		padding-left: 30px;
	}

	.footer__logo-container {
		margin: 0;
	}

	.footer__social-container {
		width: 125px;
		margin: 0 0 0 25px;
		padding: 0;
		border: none;
	}

	.footer__social {
		justify-content: space-between;
	}

	.footer__social-item {

		&--fb {
			margin-right: 0;
		}

	}

	.footer__social-icon {
		fill: #666;

		&--vk {
			width: 30px;
			height: 16px;
		}

		&--insta {
			width: 23px;
			height: 23px;
		}

		&--fb {
			width: 14px;
			height: 28px;
		}

	}

	.footer__htmlacademy {
		justify-content: flex-end;
		width: 175px;
	}

	.footer__htmlacademy-link {
		margin-right: 13px;
		line-height: 1.5;
	}

	.footer__htmlacademy-icon {
		fill: #666;
	}

}

@media screen and (min-width: $desktop) {

	.footer__content {
		padding: 48px 113px 45px 109px;
	}
	
}
