/***********
FORM
***********/

.form {
	padding-bottom: 30px;
}

.form__block {
	margin: 41px 0 0 0;
	padding-top: 65px;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 20px;
	border: none;
	border-top: 3px solid $green;
	position: relative;

	&--extra {
		padding-top: 38px;
		padding-bottom: 0px;
	}

	&--cat-info {
		padding-top: 0;
		border: none;
	}

	&--comment {
		padding-top: 44px;
	}

}

.form__row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-right: 20px;
	margin-bottom: 14px;

	&--age {
		margin-bottom: 23px;
	}

	&--radio, &--checkbox {
		justify-content: flex-start;
	}

	&--radio-last {
		margin-bottom: 0;
	}

	&--phone {
		margin-bottom: 0;
	}

	&--email {
		margin-bottom: 14px;
	}

	&--comment {
		margin-bottom: 0;
	}

}

.form__label {
	flex-shrink: 0;
	max-width: 50%;
	margin-right: 14px;
	color: #222222;
	font-size: 16px;
	font-weight: normal;
	text-transform: uppercase;

	&--radio, &--checkbox {
	    display: block;
		max-width: 100%;
	    padding-top: 11px;	
	    padding-left: 45px;
		position: relative;
		cursor: pointer;

	    &::before {
			content: '';
		    display: block;
		    width: 30px;
		    height: 30px;
		    box-sizing: border-box;
		    border: 1px solid #cdcdcd;
			position: absolute;
		    cursor: pointer;
	    }

	}

	&--checkbox {

		padding-top: 10px;

		&::before {
			top: 5px;
			left: 0;
			background-repeat: no-repeat;
		}

	}

	&--radio:hover, &--checkbox:hover {

		&::before {
			border-color: #bababa;
		}

	}

	&--radio:active, &--checkbox:active {
		opacity: 0.3;
	}

	&--email, &--phone {
		margin-right: 12px;
	}

}

.form__radio-input, .form__checkbox-input {
	display: none;
}

.form__checkbox-input:checked + .form__label--checkbox::before {
	content: '';
	background-image: url(../img/icon-tick.svg);
	background-size: 80%;
	background-position: center;
}

.form__field {
	width: 100%;
	box-sizing: border-box;
	padding: 13px 15px 11px 15px;
	border: 1px solid rgba(205,205,205,.5);
	color: $light-grey;
	font-size: 16px;
	text-transform: uppercase;

	&--comment {
		height: 150px;
		padding-right: 10px;
		resize: none;
	}

	&--email {
		padding-left: 13px;
	}

	&:focus {
		border-color: #212735;
    	box-shadow: inset 0 0 0 1px #212735;
    	outline: 0;
	}

	&:invalid {
		box-shadow: inset 0 0 0 1px #ff8282;
		border-color: #ff8282;
	}

	&:hover {
		border-color: #cdcdcd;
	}

}

.form__field-icon {
	position: absolute;
	fill: $dark-grey;

	&--email {
		right: 15px;
		top: 16px;
	}

	&--phone {
		right: 12px;
		top: 13px;
	}

}

.form__field:focus + .form__field-icon {
	fill: $green;
}

.form__field:invalid + .form__field-icon {
	fill: #ff8282;
}

.form__field-container {
	width: 100%;
	position: relative;
}

.form__block-title {
	display: inline-block;
	vertical-align: baseline;
	margin: 0;
	padding: 0 20px;
	position: absolute;
	left: 0;
	top: -14px;
	background-color: #fff;
	font-size: 24px;
	font-weight: normal;
	line-height: 1;
}

.form__block-subtitle {
	display: block;
}

.form__send {
	width: 280px;
	margin: 0 auto;
}

.form__submit {
	width: 280px;
	margin-top: 25px;
	margin-bottom: 20px;
	padding-top: 12px;
	padding-bottom: 11px;
	font-size: 16px;
}

.form__hint {
	margin: 0;
	padding: 0;
	color: $light-grey;
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
	line-height: 1.29;
	font-weight: normal;
	text-align: center;
}

/*RESPONSIVE*/

@media screen and (min-width: $tablet) {

	.form {
		padding-bottom: 75px;
	}
	
	.form__block {
		margin-top: 97px;
		padding-top: 87px;
		padding-left: 0;

		&--extra {
			margin-top: 20px;
			padding-top: 65px;
		}

	}

	.form__cat, .form__owner, .form__comment {
		width: 630px;
		margin: 0 auto;
	}

	.form__block-content {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		width: 630px;
		box-sizing: border-box;
		margin: 0 auto;
		padding-right: 97px;
	}

	.form__block-title {
		padding: 0 37px;
		left: 50%;
		top: -23px;
		font-size: 36px;
		transform: translateX(-354px);
		white-space: nowrap;

		&--comment {
			margin-top: 0;
		}

		&--extra-goods {
			margin-top: 0;
			margin-bottom: 50px;
		}

	}

	.form__block-subtitle {
		display: inline-block;
	}

	.form__row {
		margin-right: 0;
		margin-bottom: 21px;
		margin-left: 0;

		&--radio-last {
			margin-bottom: 0;
		}

		&--age {
			margin-bottom: 0;
		}

		&--email {
			margin-bottom: 19px;
		}

		&--phone {
			margin-bottom: 67px;
		}

		&--comment {
			margin-bottom: 66px;
		}

		&--checkbox {
			max-width: 220px;
			margin-right: 0;
			margin-bottom: 36px;
			margin-left: 0;
		}

		&--vitamins {
			margin-right: 40px;
		}

		&--sugar-substitute {
			margin-right: 90px;
		}

	}

	.form__field {		
		padding: 14px 15px 13px 15px;
		font-size: 20px;

		&--comment {
			width: 100%;
			height: 174px;
			padding-left: 17px;
		}

		&--email {
			padding-top: 14px;
			padding-bottom: 14px;
			padding-left: 18px;
		}

		&--phone {
			padding-top: 14px;
			padding-bottom: 14px;
			padding-left: 18px;
		}

	}

	.form__field-icon {

		&--email {
			top: 21px;
			right: 17px;
		}

		&--phone {
			top: 19px;
			right: 14px;
		}

	}

	.form__label {
		margin-right: 20px;
		font-size: 20px;

		&--radio, &--checkbox {
			padding-top: 14px;
			padding-left: 60px;

			&::before {
				width: 40px;
				height: 40px;
			}

		}

		&--checkbox {
			margin-right: 0;
			margin-left: 0;
		}

	}

	.form__checkbox-input:checked + .form__label--checkbox::before {
		background-size: 50%;
	}

	.form__send {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		width: 708px;
		margin-top: 25px;
	}

	.form__submit {
		width: 283px;
		margin: 0 61px 0 40px;
		padding-top: 15px;
		padding-bottom: 14px;
		font-size: 20px;
	}

	.form__hint {
		font-size: 16px;
		line-height: 1.5;
	}

}

@media screen and (min-width: $desktop) {

	.form {
		padding-bottom: 82px;
	}

	.form__cat, .form__owner, .form__comment {
		width: 1220px;
	}

	.form__cat {
		display: flex;
		justify-content: space-between;
	}

	.form__owner {
		display: flex;
		justify-content: space-between;
	}

	.form__block {
		margin-top: 90px;

		&--cat-info {
			margin-top: 0;
		}

		&--type {
			width: 540px;
			margin: 0;
		}

		&--extra {
			padding-top: 63px;
		}

	}

	.form__row {
		margin-right: 100px;

		&--cat-info {
			width: 570px;
			margin-right: 0;
		}

		&--radio {
			margin-left: 0;
		}

		&--email {
			min-width: 550px;
			width: 100%;
			margin: 0 78px 0 0;
		}

		&--phone {
			width: 100%;
			margin: 0;
		}

		&--checkbox {
			margin: 0;
		}

		&--comment {
			margin-right: 0;
			margin-bottom: 0;
		}

		&--sugar-substitute {
			margin-right: 104px;
		}

		&--water {
			margin-right: 137px;
		}

		&--milk {
			margin-right: 198px;
		}

	}
	
	.form__block-content {
		flex-wrap: nowrap;
		justify-content: flex-start;
		width: 1220px;
		margin-bottom: 44px;
		padding-right: 0;
	}

	.form__submit {
		width: 570px;
		margin-right: 81px;
		margin-left: 0;
	}

	.form__send {
		width: 1220px;
	}

	.form__block-title {
		margin-left: 0;
		transform: translateX(-648px);
	}

}
