/********
GOODS
********/

.goods {
	list-style: none;
	margin: 0;
	padding: 0;
}

.goods__product {
	display: flex;
	flex-direction: column;
	border-top: 1px solid #cdcdcd;
	padding: 23px 20px;
}

.goods__product-info {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

.goods__product-image {
	margin-top: -20px;
	margin-left: -5px;
}

.goods__product-title {
	text-transform: uppercase;
	font-size: 16px;
	font-weight: normal;
	max-width: 75px;
	margin-top: 0;
	padding: 0;
	margin-bottom: 14px;

	&--find-more {
		max-width: 320px;
		margin-top: 28px;
		margin-bottom: 10px;
		padding-top: 55px;
		position: relative;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: calc(50% - 15px);
			width: 30px;
			height: 30px;
			background-image: url(../img/icon-plus-mobile.svg);
			fill: #cdcdcd;
		}
	}
}

.goods__product-text {

	&--find-more {
		margin: 0;
		padding: 0;
		font-size: 12px;
	}

}

.goods__product-order {
	width: 100%;
	padding-top: 11px;
	padding-bottom: 10px;
	font-size: 16px;

	&--find-more {
		margin-top: 20px;
	}
}

.goods__product-content {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	margin-bottom: 20px;
}

.goods__product-indicator-container {
	font-size: 12px;
	margin: 0;
	padding: 0;	
}

.goods__product-indicator-value-container {
	font-size: 12px;
	padding: 0;
	margin: 0 -10px 0 0;
}

.goods__product-indicators {
	align-self: flex-end;
	width: calc(100vw - 144px - 60px);
	margin: 0;
	padding: 0;
}

.goods__product-indicator {
	margin: 0;
	padding: 0;
	text-align: right;
}

.goods__product-indicator-text {

	font-size: 12px;

	&--right {
		text-align: right;
	}
	
}

.goods__product-inside {

	&--find-more {
		padding: 0 20px 25px 20px;
		border-bottom: 1px solid #cdcdcd;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

}

/*RESPONSIVE*/

@media screen and (min-width: $tablet) {

	.goods {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	.goods__product {
		border: none;
		padding: 0;
		margin-bottom: 58px;
		width: 324px;
		box-sizing: border-box;
		background-image: linear-gradient(to bottom, #fff, #fff 82px, #f2f2f2 82px, #f2f2f2);
	
		&--find-more {
			padding-top: 82px;
			background: #fff;
		}

	}

	.goods__product-info {
		flex-direction: column;
		align-items: center;
	}

	.goods__product-title {
		font-size: 20px;
		max-width: 130px;
		text-align: center;
		margin-bottom: 28px;

		&--find-more {
			max-width: 135px;
			margin-top: 55px;
			margin-bottom: 28px;
			padding-top: 111px;

			&::before {
				top: 0;
				left: calc(50% - 30px);
				width: 60px;
				height: 60px;
				background-image: url(../img/icon-plus.svg);
				fill: #cdcdcd;
			}
		}

	}

	.goods__product-content {
		align-items: center;
		margin: 0;
	}

	.goods__product-image-container {
		min-height: 208px;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		margin-bottom: 39px;
	}

	.goods__product-indicators {
		width: 249px;
	}

	.goods__product-indicator {
		outline: 1px;
	}

	.goods__product-indicator-text {
		font-size: 16px;
		padding-bottom: 6px;
		position: relative;
		/*border-bottom: 1px solid #cdcdcd;*/
		padding-left: 0;

		&--right {

			&::after {
				content: '';
				position: absolute;
				right: 0;
				bottom: 0;
				padding: 0;
				height: 1px;
				width: 247px;
				background-color: #cdcdcd;
			}

		}
	}

	.goods__product-image {
		width: 324px;

		&--small {
			height: 172px;
		}
		

		&--big {
			height: 208px;
		}

	}

	.goods__product-order {
		width: 249px;
		margin: 33px 37px 40px 38px;

		&--find-more {
			margin-top: 90px;
			margin-bottom: 40px;
		}

	}

	.goods__product-inside {

		&--find-more {
			border: 1px solid #cdcdcd;
		}

	}

	.goods__product-text {

		&--find-more {
			font-size: 16px;
			text-align: center;
			max-width: 175px;
			line-height: normal;
		}

	}

}

@media screen and (min-width: $desktop) {

	.goods {
		width: 1220px;
		margin: 0 auto;
	}

	.goods__product {
		width: 245px;
		min-height: 512px;
		max-height: 513px;
	}
	
	.goods__product-image {
		width: 245px;
	}

	.goods__product-order {
		width: 169px;
		margin: 33px 38px 40px 38px;

		&--find-more {
			margin-top: 75px;
		}

	}

	.goods__product-indicators {
		width: 170px;
	}

	.goods__product-indicator-text {
		
		&::after {
			width: 168px;
		}
	}

}