/*______________________

INDEX PAGE STYLES
______________________*/

/**********
HEADER
**********/

.header__higher-panel {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	padding: 11px 20px 16px 20px;
}

.header__logo {
	height: 38px;
	width: 190px ;
	background-image: url(../img/logo-mobile.svg);
	background-repeat: no-repeat;
	background-size: 100%;
}

/*RESPONSIVE*/

@media screen and (min-width: 768px) {

	.header {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		padding: 24px 30px 0 30px;
	}
	
	.header__logo {
		height: 58px;
		width: 173px;
		margin-right: 96px;
		background-image: url(../img/logo-tablet.svg);
	}

	.header__higher-panel {
		padding: 0;
	}

}