/*______________________

INDEX PAGE STYLES
______________________*/

/**********
HEADER
**********/

.header__higher-panel {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	padding: 11px 20px 16px 20px;
	margin: 0;
}

.header__logo {
	height: 38px;
	width: 190px ;
	background-image: url(../img/logo-mobile.svg);
	background-repeat: no-repeat;
	background-size: 100%;
}

.header__toggle-nav {
	position: absolute;
	top: 23px;
	right: 23px;
	background-image: url(../img/icon-close.svg);
	height: 18px;
	width: 18px;
	background-color: rgba(0,0,0,0);
	border: none;
}

.header__nav {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	flex-direction: column;
}

.header__nav-item {
	width: 100%;
	text-align: center;
	padding: 25px 0;
	border-top: 1px solid #cdcdcd;

	&--choose-program {
		border-bottom: 1px solid #cdcdcd;
	}
}

.header__nav-link {
	color: $dark-grey;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 500;
}

/*RESPONSIVE*/

@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {

	.header__intro {
		background-image: linear-gradient(to top,#fff 175px,transparent 175px),url(../img/index-background-mobile@2x.jpg);
	}
}