/********
INTRO
********/


.intro {
	background-color: $green;
	background-image: linear-gradient(to top, #fff 175px, transparent 175px), url(../img/index-background-mobile@1x.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center bottom, center top;
	color: #fff;
}

.intro__wrapper {
	width: 280px;
	margin: 0 auto;
	padding-top: 29px;
}

.intro__title {
	font-size: 36px;
	text-align: center;
	font-weight: normal;
	line-height: 1;
	padding: 0;
	margin-top: 0;
	margin-bottom: 22px;
}

.intro__subtitle {
	font-size: 14px;
	text-transform: uppercase;
	text-align: center;
	font-weight: normal;
	margin-top: 0;
	margin-bottom: 28px;
}

.intro__button {
	padding-top: 13px;
	padding-bottom: 11px;
}

/*RESPONSIVE*/

@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {

	.intro {
		background-image: linear-gradient(to top,#fff 175px,transparent 175px),url(../img/index-background-mobile@2x.jpg);
	}

}

@media screen and (min-width: $tablet) {
	
	.intro {
		background: #fff;
		padding-top: 27px;
		align-items: flex-start;
		position: relative;
	}

	.intro__wrapper {
		display: flex;
		flex-direction: column;
		width: 709px;
		margin-left: 120px;
	}

	.intro__title {
		color: $dark-grey;
		font-size: 60px;
		text-align: left;
		max-width: 470px;
		margin-bottom: 38px;
		order: 0;
	}

	.intro__subtitle {
		color: $dark-grey;
		font-size: 20px;
		text-align: left;
		margin-bottom: 45px;
		order: 1;
	}

	.intro__img {	
		width: 709px;
		height: 609px;
		z-index: -1;
	}

	.intro__img-container {
		order: 3;
		margin-top: -80px;
		margin-left: -90px;
	}

	.intro__button {
		z-index: 1;
		margin: 0;
		width: 245px;
		padding-top: 16px;
		padding-bottom: 14px;
		font-size: 20px;
		order: 2;
	}

}

@media screen and (min-width: $desktop) {

	.intro {
		padding-top: 0;
		padding-bottom: 90px;
		padding-left: 193px;

		&::before {
			content: '';
			position: absolute;
			right: 0;
			top: -112px;
			z-index: 1;
			width: 50vw;
			height: 696px;
			background-image: url(../img/index-background-desktop@1x.jpg);
			background-repeat: no-repeat;
			background-size: cover;
		}
		
	}

	.intro__wrapper {
		max-height: 500px;
		flex-wrap: wrap;
		margin-left: 0;
		padding-top: 0;
	}
	
	.intro__title {
		margin-top: 113px;
		margin-bottom: 33px;
	}

	.intro__subtitle {
		margin-bottom: 53px;
	}

	.intro__img-container {
		margin-top: 34px;
		margin-left: -100px;
		z-index: 2;
	}

	.intro__img {
		width: 552px;
		height: 499px;
	}

}