/********
CONTACTS
********/

.map {
	padding: 0;
}

.map__info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 30px;
	padding-right: 20px;
	padding-bottom: 26px;
	padding-left: 20px;
}

.map__offer {
	max-width: 123px;
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-weight: normal;
	text-transform: uppercase;
	line-height: 1.25;
}

.map__adress {
	max-width: 50%;
	margin: 0;
	padding: 0;
	color: $light-grey;
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
	line-height: 1.43;
	font-weight: normal;
}


.map__map {
	width: 100%;
	height: 360px;
	border: none;
	background-image: url(../img/bg-map-mobile@1x.png);
	background-repeat: no-repeat;
	background-size: cover;
}

/*RESPONSIVE*/

@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {

	.map__map {
		background-image: url(../img/bg-map-mobile@2x.png);
	}

}

@media screen and (min-width: $tablet) {

	.map__offer {
		max-width: 155px;
		font-size: 20px;
	}

	.map__info {
		padding: 63px 72px 59px 71px;
	}

	.map__adress {
		max-width: 155px;
		font-size: 16px;
		text-align: right;
		line-height: 1.25;
	}

	.map__city {
		display: block;
		margin-top: 18px;
	}

	.map__map {
		height: 400px;
		background-image: url(../img/bg-map-tablet@1x.png);
	}

	@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {

		.map__map {
			background-image: url(../img/bg-map-tablet@2x.png);
		}

	}
	
}

@media screen and (min-width: $desktop) {

	.map {
		position: relative;
	}
	
	.map__info {
		width: 570px;
		height: 201px;
		box-sizing: border-box;
		padding: 66px 90px 59px 76px;
		position: absolute;
		left: 110px;
		top: 95px;
		background-color: #fff;
	}

	.map__adress {
		text-align: left;
	}

	.map__map {
		background-image: url(../img/bg-map-desktop@1x.png);
	}

	@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {

		.map__map {
			background-image: url(../img/bg-map-desktop@2x.png);
		}

	}

}
