/********
CONTACTS
********/

.map {
	padding: 0;
}

.map__info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 30px;
	padding-bottom: 26px;
	padding-left: 20px;
	padding-right: 20px;
}

.map__offer {
	max-width: 123px;
	font-size: 16px;
	font-weight: normal;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
	line-height: 1.25;
}

.map__adress {
	max-width: 50%;
	line-height: 1.43;
	margin: 0;
	padding: 0;
}


.map__map {
	height: 360px;
	width: 100%;
	border: none;
}

/*RESPONSIVE*/

@media screen and (min-width: $tablet) {

	.map__offer {
		font-size: 20px;
		max-width: 155px;
	}

	.map__info {
		padding: 63px 72px 59px 71px;
	}

	.map__adress {
		max-width: 155px;
		text-align: right;
		line-height: 1.25;
	}

	.map__city {
		display: block;
		margin-top: 18px;
	}

	.map__map {
		height: 400px;
	}
	
}

@media screen and (min-width: $desktop) {

	.map {
		position: relative;
	}
	
	.map__info {
		padding: 66px 90px 59px 76px;
		width: 570px;
		height: 201px;
		box-sizing: border-box;
		position: absolute;
		left: 110px;
		top: 95px;
		background-color: #fff;
	}

	.map__adress {
		text-align: left;
	}

}