/***********
SELECTION
***********/

.selection {
	padding: 0;
}

.selection__title {
	margin-top: 25px;
	margin-bottom: 35px;
	padding: 0 0 0 20px;
}

.selection__subtitle {
	font-size: 14px;
	font-weight: normal;
	line-height: 1.29;
	text-transform: uppercase;
	margin: 0 50px 39px 20px;
}

@import 'form';