/***********
SELECTION
***********/

.selection {
	padding: 0;
}

.selection__title {
	margin-top: 25px;
	margin-bottom: 34px;
	padding: 0 0 0 20px;
	font-size: 36px;
	font-weight: normal;
}

/*RESPONSIVE*/

@media screen and (min-width: $tablet) {

	.selection__title {
		width: 708px;
		margin: 0 auto;
		margin-top: 53px;
		margin-bottom: 51px;
		padding: 0;
		font-size: 60px;
	}
	
}

@media screen and (min-width: $desktop) {

	.selection__title {
		width: 1220px;
		margin: 71px auto 49px auto;
	}
	
}
