/**********
SPECIFICATION
**********/

@font-face{
	font-family: 'Oswald';
	src: url('../fonts/oswaldregular.woff') format('woff'),
		url('../fonts/oswaldmedium.woff') format('woff');
}

div, nav, button, ul, p, h1, h2, h3, h4 {
	margin: 0;
	padding: 0;
}

body {
	color: $dark-grey;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: #000;
}

body {
	font-family: 'Oswald', Arial, sans-serif;
}

section {
	padding: 0 20px;
	margin: 0;
}

.text {
	font-family: Arial, sans-serif;
	font-size: 14px;
	font-weight: normal;
	text-align: left;
	color: $light-grey;
}

.hidden {
	display: none;
}

.button {
	background-color: $green;
	color: #fff;
	text-transform: uppercase;
	font-weight: normal;
	text-align: center;
	width: 100%;
}

.section-title {
	font-size: 36px;
	font-weight: normal;
}

.item-container {
	display: flex;
	flex-direction: column;
	border-top: 1px solid #cdcdcd;
	padding: 25px 20px;
}

.item-title {
	text-transform: uppercase;
	font-size: 16px;
}