/**********
SPECIFICATION
**********/

@font-face{
	font-family: 'Oswald';
	src: url('../fonts/oswaldregular.woff') format('woff'),
		url('../fonts/oswaldmedium.woff') format('woff');
}

div, nav, button, ul, p {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: #000;
}

body {
	font-family: 'Oswald', Arial, sans-serif;
}

section {
	padding: 0 20px;
}

.text {
	font-family: Arial, sans-serif;
	font-size: 14px;
	font-weight: normal;
	text-align: left;
	color: $light-grey;
}

.hidden {
	display: none;
}

.button {
	background-color: $green;
	color: #fff;
	text-transform: uppercase;
	font-weight: normal;
}

.section-title {
	font-size: 36px;
	font-weight: normal;
}