/**********
SPECIFICATION
**********/

@font-face{
	font-family: 'Oswald';
	src: url('../fonts/oswaldregular.woff') format('woff'),
		url('../fonts/oswaldregular.woff2') format('woff2'),
		url('../fonts/oswaldmedium.woff') format('woff'),
		url('../fonts/oswaldmedium.woff2') format('woff2');
	font-display: swap;
}

a {
	text-decoration: none;
	color: #111111;
}

body {
	color: $dark-grey;
	font-family: 'Oswald', Arial, sans-serif;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip: rect(0 0 0 0);
	overflow: hidden;
}