/************
TYPOGRAPHY
************/

@font-face{
	font-family: 'Oswald Regular';
	src: url('../fonts/Oswaldregular.woff2') format('woff2');
	font-display: swap;
}

@font-face {
	font-family: 'Oswald Medium';
	src: url('../fonts/Oswaldmedium.woff2') format('woff2');
	font-display: swap;
}
