/*****
TYPOGRAPHY
*****/

.typography {

	&--text {
		font-family: Arial, Tahoma, sans-serif;
		font-size: 14px;
		line-height: 1.29;
		font-weight: normal;
		text-align: left;
		color: $light-grey;
	}

	&--section-title {
		font-size: 36px;
		font-weight: normal;
	}

	&--selected-title {
		font-size: 24px;
		position: relative;
		display: inline-block;
		vertical-align: baseline;
		padding-right: 20px;
		background-color: #fff;
		font-weight: normal;

		&::after {
			content: "";
		    position: absolute;
		    top: 50%;
		    height: 3px;
		    width: calc(100vw - 20px);
		    background-color: $green;
		    z-index: -1;
		}
	}
}

/*RESPONSIVE*/

@media screen and (min-width: $tablet) {

	.typography {

		&--text {
			font-size: 16px;
			line-height: 1.5;
		}

		&--section-title {
			font-size: 60px;
			font-weight: normal;
		}

		&--selected-title {
			margin-left: 30px;
			padding-right: 37px;
			padding-left: 37px;
			font-size: 36px;

			&::after {
				content: "";
			    position: absolute;
			    top: 50%;
			    left: -30px;
			    height: 3px;
			    width: 100vw;
			    background-color: $green;
			    z-index: -1;
			}
		}

	}

}

@media screen and (min-width: $desktop) {
	
	.typography {

		&--selected-title {
			margin-left: 72px;

			&::after {
				left: -72px;
			}

		}

	}

}